IsmkCompositeApp/src/jbiServiceUnits/IsmkBpelModule/localhost_8080/IndicatorRequestServiceService/IndicatorRequestService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xsd:schema xmlns:tns="http://www.shcherbakov.ru/request" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.shcherbakov.ru/request">
            
	<xsd:element name="request" type="tns:requestType"></xsd:element>

	<!-- В запросе указаваются индетификатор показателя, период выборки -->
	<xsd:complexType name="requestType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" ref="tns:indicatorsDataType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="indicatorsDataType">
		<xsd:complexType>
			<xsd:sequence>

				<!-- Идентификатор показателя -->
				<xsd:element name="id" type="xsd:int"></xsd:element>

				<!-- Начало периода -->
				<xsd:element name="firstDate" type="xsd:string"></xsd:element>

				<!-- Конец периода -->
				<xsd:element name="lastDate" type="xsd:string"></xsd:element>

			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>