IsmkBpelModule/src/localhost_8080/IndicatorResponceServiceService/IndicatorResponceService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xsd:schema xmlns="http://www.shcherbakov.ru/responce" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.shcherbakov.ru/responce">
    <xsd:element name="responce" type="responceType"></xsd:element>
	
    <xsd:complexType name="responceType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" ref="indicatorType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
	
    <xsd:element name="indicatorType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:int"></xsd:element>
				
                <xsd:element name="date" type="xsd:string"></xsd:element>
				
                <xsd:element name="value" type="xsd:double"></xsd:element>
				
                <xsd:element name="units" type="xsd:string"></xsd:element>
				
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>